<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Centro de Empleo Jonny Loco</title>
  </head>
  <body id="body">
      <form class="" action="/ofrecerContrato" method="post">
              <input type=text id="idEmpleo" style="display:none" name="idEmpleo" value="" class=form-control aria-describedby=basic-addon1>
              <input type=text id="idPersona" style="display:none" name="idPersona" value="" class=form-control aria-describedby=basic-addon1>
              <button type="submit" class="btn btn-danger">Salir</button>
      </form>
      <h1>Busqueda de personal</h1>
      <p>En esta seccion podra visualizar las personas disponibles para los empleos que su empresas
      ha ingresado a la agencia. Al seleccionar un empleo, la tabla de las personas disponibles se
      actualizara e indicara en la columna clase la calificacion del empleado para dicho empleo, A significa
      coincidencia exacta, B coincidencia aproximada y C ninguna coincidencia. Si desea visualizar los
      datos de una persona, seleccionela y visualice los campos, si desea contratarla, presione ofrecer contrato.</p>
      <script type="text/javascript">
          var matrizEmpleos = [];
          var matrizPersonas = [];
          var matrizPFamiliares = [];
          var matrizPSanitarios = [];
          var matrizPLegales   = [];
          var matrizPAcademicos = [];
          var matrizPLabPro = [];
          var matrizPCondiciones = [];
          function actualizarTabla(cc){
              $("#idEmpleo").val(matrizEmpleos[cc][0]);
              for (var i=1 ; i<=matrizPersonas.length ; i++){
                  var fila = i-1;
                  if(   (matrizPCondiciones[fila][0].includes(matrizEmpleos[cc][3],0) || matrizEmpleos[cc][3] == "N/A" || matrizEmpleos[cc][3] == "" )  &&
                        (matrizPCondiciones[fila][2] == matrizEmpleos[cc][5] || matrizEmpleos[cc][5] == "N/A" || matrizEmpleos[cc][5] == "" ) &&
                        (matrizPFamiliares[fila][6] == matrizEmpleos[cc][6] || matrizEmpleos[cc][6] == "N/A" || matrizEmpleos[cc][6] == "" ) &&
                        (matrizPSanitarios[fila][1] == "N/A" || matrizPSanitarios[fila][1] == "" || matrizEmpleos[cc][7] == "Si") &&
                        (matrizPSanitarios[fila][2] == "N/A" || matrizPSanitarios[fila][2] == "" || matrizEmpleos[cc][8] == "Si") &&
                        (matrizPLegales[fila][0] == matrizEmpleos[cc][9] || matrizEmpleos[cc][9] == "N/A" || matrizEmpleos[cc][9] == "") &&
                        (matrizPLegales[fila][1] == matrizEmpleos[cc][10] || matrizEmpleos[cc][10] == "N/A" || matrizEmpleos[cc][10] == "") &&
                        (matrizPLabPro[fila][3] == matrizEmpleos[cc][11] || matrizEmpleos[cc][11] == "N/A" || matrizEmpleos[cc][11] == "" ) &&
                        (matrizPLabPro[fila][2].includes(matrizEmpleos[cc][12],0) || matrizEmpleos[cc][12] == "N/A" || matrizEmpleos[cc][12] == "" ) &&
                        (matrizPCondiciones[fila][1].includes(matrizEmpleos[cc][13],0) || matrizEmpleos[cc][13] == "N/A" || matrizEmpleos[cc][13] == "" )){

                            document.getElementById('tablaPersonas').rows[i].cells[3].innerHTML = "A";
                  }else{

                      if(   (matrizPCondiciones[fila][0].includes(matrizEmpleos[cc][3],0) || matrizEmpleos[cc][3] == "N/A" || matrizEmpleos[cc][3] == "" )  &&
                            (matrizPCondiciones[fila][2] == matrizEmpleos[cc][5] || matrizEmpleos[cc][5] == "N/A" || matrizEmpleos[cc][5] == "" ) ){

                                document.getElementById('tablaPersonas').rows[i].cells[3].innerHTML = "B";
                      }else{
                            document.getElementById('tablaPersonas').rows[i].cells[3].innerHTML = "C";
                      }
                  }
              }
          }
          function visualizarPersona(b){
			  //personales
			  $("#a").val(matrizPersonas[b][0]);
			  $("#b").val(matrizPersonas[b][1]);
			  $("#c").val(matrizPersonas[b][2]);
			  $("#d").val(matrizPersonas[b][3]);
			  $("#e").val(matrizPersonas[b][4]);
			  $("#f").val(matrizPersonas[b][5]);
			  //familiares
			  $("#g").val(matrizPFamiliares[b][0]);
			  $("#h").val(matrizPFamiliares[b][1]);
			  $("#i").val(matrizPFamiliares[b][2]);
			  $("#j").val(matrizPFamiliares[b][3]);
			  $("#k").val(matrizPFamiliares[b][4]);
			  $("#l").val(matrizPFamiliares[b][5]);
			  $("#m").val(matrizPFamiliares[b][6]);
			  //sanitarios
			  $("#n").val(matrizPSanitarios[b][0]);
			  $("#o").val(matrizPSanitarios[b][1]);
			  $("#p").val(matrizPSanitarios[b][2]);
			  //legales
			  $("#q").val(matrizPLegales[b][0]);
			  $("#r").val(matrizPLegales[b][1]);
			  //academicos
			  $("#s").val(matrizPAcademicos[b][0]);
			  $("#t").val(matrizPAcademicos[b][1]);
			  $("#u").val(matrizPAcademicos[b][2]);
			  $("#v").val(matrizPAcademicos[b][3]);
			  //laborales y profesionales
			  $("#w").val(matrizPLabPro[b][0]);
			  $("#x").val(matrizPLabPro[b][1]);
			  $("#y").val(matrizPLabPro[b][2]);
			  $("#z").val(matrizPLabPro[b][3]);
			  $("#aa").val(matrizPLabPro[b][4]);
			  //condiciones de empleo
			  $("#ab").val(matrizPCondiciones[b][0]);
			  $("#ac").val(matrizPCondiciones[b][1]);
			  $("#ad").val(matrizPCondiciones[b][2]);
              $("#idPersona").val(matrizPersonas[b][0]);
          }
      </script>

	  </script>
	  <% familiares.forEach(function(familiar){ %>
		  <script type="text/javascript">
			matrizPFamiliares.push(['<%= familiar.idPadre %>','<%= familiar.padre %>','<%= familiar.idMadre %>','<%= familiar.madre %>',
								  '<%= familiar.ccPadre %>','<%= familiar.ccMadre %>','<%= familiar.numHijos %>']);
		  </script>
	  <% }) %>
	  <% sanitarios.forEach(function(sanitario){ %>
		  <script type="text/javascript">
			  matrizPSanitarios.push(['<%= sanitario.enfermedades %>','<%= sanitario.medicamentos %>','<%= sanitario.hospital %>']);
		  </script>
	  <% }) %>
	  <% legales.forEach(function(legal){ %>
		  <script type="text/javascript">				
			  matrizPLegales.push(['<%= legal.militar %>','<%= legal.carcel %>']);
		  </script>
	  <% }) %>
	  <% academicos.forEach(function(academico){ %>
		  <script type="text/javascript">
			  matrizPAcademicos.push(['<%= academico.escuela %>','<%= academico.colegio %>',
									  '<%= academico.upreg %>','<%= academico.upost %>']);
		  </script>
	  <% }) %>
	  <% LabPros.forEach(function(LabPro){ %>
		  <script type="text/javascript">
			  matrizPLabPro.push(['<%= LabPro.nombreEmpresa %>','<%= LabPro.ulSalario %>','<%= LabPro.profesion %>',
									  '<%= LabPro.aniosExp %>','<%= LabPro.puestos %>']);
		  </script>
	  <% }) %>
	  <% condiciones.forEach(function(condicion){ %>
		  <script type="text/javascript">
			  matrizPCondiciones.push(['<%= condicion.posPuestos %>','<%= condicion.contrato %>','<%= condicion.salario %>']);
		  </script>
	  <% }) %>



     <section class="main row" >
         <div class="col-sm-6">
             <h2>Empleos de <%= nombreEmpresa %></h2>
            <table class="table" id="tablaEmpleos">
             <thead>
               <tr>
                 <th scope="col">Seleccione</th>
                 <th scope="col">Empresa</th>
                 <th scope="col">Puesto</th>
                 <th scope="col">Salario</th>
                 <th scope="col">Plazas</th>
               </tr>
             </thead>
             <% empleos.forEach(function(empleo){ %>
             <tbody>
                <tr>
                    <script type="text/javascript">
                       matrizEmpleos.push(['<%= empleo.idEmpleo %>','<%= empleo.idEmpresa %>','<%= empleo.nombreEmpresa %>','<%= empleo.puesto %>',
                               '<%= empleo.numPlazas %>','<%= empleo.salario %>','<%= empleo.numHijos %>','<%= empleo.consMed %>',
                               '<%= empleo.hospital %>','<%= empleo.militar %>','<%= empleo.carcel %>','<%= empleo.aniosExp %>',
                               '<%= empleo.profesion %>','<%= empleo.contrato %>']);
                    </script>
                     <td><button type="button" id=<%= empleo.indice %> class='btn btn-danger' onclick="actualizarTabla(this.id)">Ver</button></td>
                     <td><%= empleo.nombreEmpresa %></td>
                     <td><%= empleo.puesto %></td>
                     <td><%= empleo.salario %></td>
                     <td><%= empleo.numPlazas %></td>
               </tr>
             <% }) %>
         </tbody>
        </table>
         </div>
         <div class="col-sm-6">
             <h2>Personas Disponibles</h2>
                 <table class="table" id="tablaPersonas">
                  <thead>
                    <tr>
                      <th scope="col">Seleccione</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Celular</th>
                      <th scope="col">Clase</th>
                    </tr>
                  </thead>
			  <% personas.forEach(function(persona){ %>
				 <tr>
					 <script type="text/javascript">					
						matrizPersonas.push(['<%= persona.id %>','<%= persona.nombre %>','<%= persona.celular %>','<%= persona.correo %>','<%= persona.edad %>','<%= persona.estadoCivil %>']);                    
					 </script>
					  <td><button type="button" id=<%= persona.indice %> class='btn btn-danger' onclick="visualizarPersona(this.id)">Ver</button></td>					  
					  <td><%= persona.nombre %></td>
					  <td><%= persona.celular %></td>
					  <td>***</td>
				</tr>
			  <% }) %>
              </tbody>
             </table
         </div>
         </section>
         <br>
         <h2>Datos personales</h2>
         <div class=input-group-prepend>
            <span class=input-group-text id=basic-addon1>ID</span>
            <input type=text id="a" name="a" value= "" class=form-control aria-describedby=basic-addon1>
            <span class=input-group-text id=basic-addon1>Nombre completo</span>
            <input type=text id="b" name="b" value="" class=form-control aria-describedby=basic-addon1>
        </div>
         <div class=input-group-prepend>
            <span class=input-group-text id=basic-addon1>Celular</span>
            <input type=text id="c" name="c" value="" class=form-control aria-describedby=basic-addon1>
            <span class=input-group-text id=basic-addon1>Correo</span>
            <input type=text id="d" name="d" value="" class=form-control aria-describedby=basic-addon1>
            <span class=input-group-text id=basic-addon1>Edad</span>
            <input type=text id="e" name="e" value="" class=form-control aria-describedby=basic-addon1>
        </div>
         <div class=input-group-prepend>
            <span class=input-group-text id=basic-addon1>Estado Civil</span>
            <input type=text id="f" name="f" value="" class=form-control aria-describedby=basic-addon1>
        </div>
         <h2>Datos familiares</h2>
         <div class=input-group-prepend>
            <span class=input-group-text id=basic-addon1>ID Padre</span>
            <input type=text id="g" name="g" value= "" class=form-control aria-describedby=basic-addon1>
            <span class=input-group-text id=basic-addon1>Nombre completo padre</span>
            <input type=text id="h" name="h" value="" class=form-control aria-describedby=basic-addon1>
        </div>
         <div class=input-group-prepend>
            <span class=input-group-text id=basic-addon1>ID Madre</span>
            <input type=text id="i" name="i" value= "" class=form-control aria-describedby=basic-addon1>
            <span class=input-group-text id=basic-addon1>Nombre completo madre</span>
            <input type=text id="j" name="j" value="" class=form-control aria-describedby=basic-addon1>

        </div>
         <div class=input-group-prepend>
             <span class=input-group-text id=basic-addon1>Contacto del padre</span>
             <input type=text id="k" name="k" value= "" class=form-control aria-describedby=basic-addon1>
             <span class=input-group-text id=basic-addon1>Contacto de la madre</span>
             <input type=text id="l" name="l" value="" class=form-control aria-describedby=basic-addon1>
             <span class=input-group-text id=basic-addon1>Numero de hijos</span>
             <input type=text id="m" name="m" value="" class=form-control aria-describedby=basic-addon1>
         </div>
         <h2>Datos sanitarios</h2>
         <div class=input-group-prepend>
            <span class=input-group-text id=basic-addon1>Enfermedades</span>
            <input type=text id="n" name="n" value= "" class=form-control aria-describedby=basic-addon1>
         </div>
         <div class=input-group-prepend>
            <span class=input-group-text id=basic-addon1>Medicamentos</span>
            <input type=text id="o" name="o" value="" class=form-control aria-describedby=basic-addon1>
        </div>
         <div class=input-group-prepend>
            <span class=input-group-text id=basic-addon1>¿Ha sido hospitalizado [Si/No]?</span>
            <input type=text id="p" name="p" value="" class=form-control aria-describedby=basic-addon1>
        </div>
         <h2>Datos legales</h2>
         <div class=input-group-prepend>
             <span class=input-group-text id=basic-addon1>¿Ha prestado servicio militar [Si/No]?</span>
             <input type=text id="q" name="q" value= "" class=form-control aria-describedby=basic-addon1>
             <span class=input-group-text id=basic-addon1>¿Ha sido encarcelado [Si/No]?</span>
             <input type=text id="r" name="r" value= "" class=form-control aria-describedby=basic-addon1>
         </div>
         <h2>Datos academicos</h2>
         <div class=input-group-prepend>
            <span class=input-group-text id=basic-addon1>Escuela</span>
            <input type=text id="s" name="s" value= "" class=form-control aria-describedby=basic-addon1>
         </div>
         <div class=input-group-prepend>
            <span class=input-group-text id=basic-addon1>Colegio</span>
            <input type=text id="t" name="t" value="" class=form-control aria-describedby=basic-addon1>
        </div>
         <div class=input-group-prepend>
            <span class=input-group-text id=basic-addon1>Universidad de Pregrado</span>
            <input type=text id="u" name="u" value="" class=form-control aria-describedby=basic-addon1>
        </div>
         <div class=input-group-prepend>
            <span class=input-group-text id=basic-addon1>Universidad de Postgrado</span>
            <input type=text id="v" name="v" value="" class=form-control aria-describedby=basic-addon1>
        </div>
         <h2>Datos laborales y profesionales</h2>
         <div class=input-group-prepend>
             <span class=input-group-text id=basic-addon1>Nombre de la ultima empresa donde trabajo</span>
             <input type=text id="w" name="w" value= "" class=form-control aria-describedby=basic-addon1>
         </div>
         <div class=input-group-prepend>
             <span class=input-group-text id=basic-addon1>Ultimo salario recibido</span>
             <input type=text id="x" name="x" value="" class=form-control aria-describedby=basic-addon1>
             <span class=input-group-text id=basic-addon1>Años de experiencia</span>
             <input type=text id="y" name="y" value="" class=form-control aria-describedby=basic-addon1>
         </div>
         <div class=input-group-prepend>
             <span class=input-group-text id=basic-addon1>Profesion</span>
             <input type=text id="z" name="z" value="" class=form-control aria-describedby=basic-addon1>
         </div>
         <div class="input-group">
             <div class="input-group-prepend">
                 <span class="input-group-text">Puestos desempeñados</span>
             </div>
             <textarea class="form-control" id="aa" name="aa" value="" aria-label="With textarea"></textarea>
         </div>
         <h2>Condiciones de empleo</h2>
         <div class=input-group-prepend>
             <span class=input-group-text id=basic-addon1>Posibles puestos esperados</span>
             <input type=text id="ab" name="ab" value="" class=form-control aria-describedby=basic-addon1>
         </div>
         <div class=input-group-prepend>
             <span class=input-group-text id=basic-addon1>Tipo de contrato esperado [Permanente/Por contrato]</span>
             <input type=text id="ac" name="ac" value= "" class=form-control aria-describedby=basic-addon1>
             <span class=input-group-text id=basic-addon1>Salario esperado</span>
             <input type=text id="ad" name="ad" value= "" class=form-control aria-describedby=basic-addon1>
         </div>
         <br>
          <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">

                <button type="button" id="contrato" class='btn btn-danger' onclick="ofrecido(this.id)">___________Ofrecer contrato___________</button>

                <script type="text/javascript">
                    function ofrecido(){
                        alert("Contrato ofrecido");
                    }
                </script>
            </div>
            <div class="col-sm">

            </div>
          </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
